body {
    background: transparent;
}

.layout {
    width: 100vw;
}

/* header */
#page header.header {
    padding: 23px 0;
}
#page header.header .resume-link {
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
}
aside.aside .phone {
    display: none;
}
main .item img {
    display: none;
}