body {
    background: transparent;
    font-family: 'NSimSun';
    line-height: 1.5em;
}


.layout {
    width: 100vw;
}

/* header */
#page header.header {
    padding: 26px 0;
}
#page header.header .resume-link {
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
}
aside.aside section ul {
    padding-bottom: 15px 0;
}
#page .mainAndAside section .more {
    margin-top:78px;
}
aside.aside section ul li{
    margin: 10px 0;
}
aside.aside .phone {
    display: block;
}
main .item img {
    display: none;
}