body {
    background: transparent;
    font-family: 'NSimSun';
    line-height: 1.6em;
}


.layout {
    width: 100vw;
}

/* header */
#page header.header {
    padding: 26px 0;
    color: #2397DF;
}


#page header.header .resume-link {
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
}
aside.aside section ul {
    padding-bottom: 15px 0;
}


aside.aside .phone {
    display: block;
}
main .item img {
    display: none;
}