* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'myfont';
    src : url('../font/theme2.TTF');
}
a {
    text-decoration: none;
    color: #888;
}

#page a:hover {
    color: #333;
}

li {
    list-style: none;
}

body {
    background: #ccc;
    font-family: 'NSimSun';
    line-height: 1.8em;
}
h4,
h5,
h6,
h1,
h2,
h3 {
    font-family: myfont;
}

#page {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    background-color: #fff;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
}                   

#page .header {
    grid-area: header;
    padding: 30px 0;
    border-bottom: 5px solid #E4E4E4;
    background: url('../imgs/header.jpg') no-repeat center;
    background-size: cover;
    display: grid;  
    justify-items: center;
}
#page .header .resume-link {
    display: none;
}
#page .header h2 {
    margin: 10px 0 10px;
    color: #10A7AF;
   font-size: 35px;
}

#page .header h3 {
    font-size: 20px;
    color: #fff;
}


#page .mainAndAside {
    grid-area: main;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "aside main ";
    padding: 10px 12px;
}

#page .aside {
    grid-area: aside;
    max-width: 280px;
    border-right: 2px solid #ccc;
    padding-right: 5px;
}
aside.aside section {
    margin:25px 15px;
}
aside section:not(:last-of-type) {
    border-bottom: 1.5px solid #ccc;
}

#page .mainAndAside h2 {
    margin:20px 0;
    color: #2397DF;
}
#page .aside .duiqi {
    display: inline-block;
    width: 4em;
    text-align: justify;
    vertical-align: top;
    overflow: hidden;
    height: 1em;
    
}
#page .aside .duiqi::after {
    content: '';
    display: inline-block;
    width: 100%;
}
aside.aside section ul {
    padding: 8px 0;
}
aside.aside .phone {
    display: none;
}
aside.aside section ul {
    margin: 8px 0;
    white-space:nowrap;
}
aside.aside section ul li.education {
    white-space:normal;
}
aside.aside section ul li .iconfont {
    vertical-align: middle;
    font-size: 24px;
    padding: 0 0.08rem 0.08rem 0;
}
#page main.main {
    grid-area: main;
    padding: 5px 32px;
    
}
#page main.main .item {
    padding-bottom: 15px;
}
#page main.main h3 {
    padding-bottom: 15px;;
}
#page main.main img {
    width: 600px;
    height: 400px;
}
#page main.main p {
    padding: 5px 0;
    font-size: 1em;
}
#page .footer {
    grid-area: footer;
    height: 44px;
    background-color: rgba(0,0,0,.8);
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
    color: #fff;
}
.highlight {
    color: #FF5700;
    border-radius: 5px;
    background: #efefef;
}